<div>
    <h2 id="page-heading">
        <span jhiTranslate="loyerApp.adresse.home.title">Adresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adresse" [routerLink]="['/adresse/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="loyerApp.adresse.home.createLabel">
            Create a new Adresse
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="adresses?.length === 0">
        <span jhiTranslate="loyerApp.adresse.home.notFound">No adresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="adresses && adresses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="region"><span jhiTranslate="loyerApp.adresse.region">Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="departement"><span jhiTranslate="loyerApp.adresse.departement">Departement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commune"><span jhiTranslate="loyerApp.adresse.commune">Commune</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let adresse of adresses ;trackBy: trackId">
                    <td><a [routerLink]="['/adresse', adresse.id, 'view']">{{ adresse.id }}</a></td>
                    <td>{{ adresse.region }}</td>
                    <td>{{ adresse.departement }}</td>
                    <td>{{ adresse.commune }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/adresse', adresse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/adresse', adresse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(adresse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="adresses && adresses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
