<div>
    <h2 id="page-heading">
        <span jhiTranslate="loyerApp.logement.home.title">Logements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-logement" [routerLink]="['/logement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="loyerApp.logement.home.createLabel">
            Create a new Logement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="logements?.length === 0">
        <span jhiTranslate="loyerApp.logement.home.notFound">No logements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="logements && logements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="loyerApp.logement.etat">Etat</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let logement of logements ;trackBy: trackId">
                    <td><a [routerLink]="['/logement', logement.id, 'view']">{{ logement.id }}</a></td>
                    <td>{{ logement.etat }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/logement', logement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/logement', logement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(logement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
