<div>
    <h2 id="page-heading">
        <span jhiTranslate="loyerApp.logement.home.title">Logements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-logement" [routerLink]="['/logement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="loyerApp.logement.home.createLabel">
            Create a new Logement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="logements?.length === 0">
        <span jhiTranslate="loyerApp.logement.home.notFound">No logements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="logements && logements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbreChambe"><span jhiTranslate="loyerApp.logement.nbreChambe">Nbre Chambe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sufarce"><span jhiTranslate="loyerApp.logement.sufarce">Sufarce</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="loyerApp.logement.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="loyer"><span jhiTranslate="loyerApp.logement.loyer">Loyer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="loyerApp.logement.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etage"><span jhiTranslate="loyerApp.logement.etage">Etage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ascenceur"><span jhiTranslate="loyerApp.logement.ascenceur">Ascenceur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="garage"><span jhiTranslate="loyerApp.logement.garage">Garage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="piscine"><span jhiTranslate="loyerApp.logement.piscine">Piscine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="grenier"><span jhiTranslate="loyerApp.logement.grenier">Grenier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresseId"><span jhiTranslate="loyerApp.logement.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let logement of logements ;trackBy: trackId">
                    <td><a [routerLink]="['/logement', logement.id, 'view']">{{ logement.id }}</a></td>
                    <td>{{ logement.nbreChambe }}</td>
                    <td>{{ logement.sufarce }}</td>
                    <td>
                        <a *ngIf="logement.photo" (click)="openFile(logement.photoContentType, logement.photo)">
                            <img [src]="'data:' + logement.photoContentType + ';base64,' + logement.photo" style="max-height: 30px;" alt="logement image"/>
                        </a>
                        <span *ngIf="logement.photo">{{ logement.photoContentType }}, {{ byteSize(logement.photo) }}</span>
                    </td>
                    <td>{{ logement.loyer }}</td>
                    <td>{{ logement.description }}</td>
                    <td>{{ logement.etage }}</td>
                    <td>{{ logement.ascenceur }}</td>
                    <td>{{ logement.garage }}</td>
                    <td>{{ logement.piscine }}</td>
                    <td>{{ logement.grenier }}</td>
                    <td>
                        <div *ngIf="logement.adresseId">
                            <a [routerLink]="['/adresse', logement.adresseId , 'view']" >{{ logement.adresseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/logement', logement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/logement', logement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(logement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="logements && logements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
