<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-logement-heading" jhiTranslate="loyerApp.logement.home.createOrEditLabel">Create or edit a Logement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.typeDePiece" for="field_typeDePiece">Type De Piece</label>
                    <select class="form-control" name="typeDePiece" formControlName="typeDePiece" id="field_typeDePiece">
                        <option value="Maison">{{ 'loyerApp.Piece.Maison' | translate }}</option>
                        <option value="Appartement">{{ 'loyerApp.Piece.Appartement' | translate }}</option>
                        <option value="Chambre">{{ 'loyerApp.Piece.Chambre' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('typeDePiece')!.invalid && (editForm.get('typeDePiece')!.dirty || editForm.get('typeDePiece')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeDePiece')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.nbreChambe" for="field_nbreChambe">Nbre Chambe</label>
                    <input type="number" class="form-control" name="nbreChambe" id="field_nbreChambe"
                           formControlName="nbreChambe"/>
                    <div *ngIf="editForm.get('nbreChambe')!.invalid && (editForm.get('nbreChambe')!.dirty || editForm.get('nbreChambe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbreChambe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbreChambe')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.sufarce" for="field_sufarce">Sufarce</label>
                    <input type="number" class="form-control" name="sufarce" id="field_sufarce"
                           formControlName="sufarce"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.photo" for="field_photo">Photo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value" style="max-height: 100px;" *ngIf="editForm.get('photo')!.value" alt="logement image"/>
                        <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'file_photo')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                           formControlName="photo"/>
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                           formControlName="photoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.loyer" for="field_loyer">Loyer</label>
                    <input type="number" class="form-control" name="loyer" id="field_loyer"
                           formControlName="loyer"/>
                    <div *ngIf="editForm.get('loyer')!.invalid && (editForm.get('loyer')!.dirty || editForm.get('loyer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loyer')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('loyer')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.etage" for="field_etage">Etage</label>
                    <input type="number" class="form-control" name="etage" id="field_etage"
                           formControlName="etage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.ascenceur" for="field_ascenceur">Ascenceur</label>
                    <input type="checkbox" class="form-control" name="ascenceur" id="field_ascenceur"
                           formControlName="ascenceur"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.garage" for="field_garage">Garage</label>
                    <input type="checkbox" class="form-control" name="garage" id="field_garage"
                           formControlName="garage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.piscine" for="field_piscine">Piscine</label>
                    <input type="checkbox" class="form-control" name="piscine" id="field_piscine"
                           formControlName="piscine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.grenier" for="field_grenier">Grenier</label>
                    <input type="checkbox" class="form-control" name="grenier" id="field_grenier"
                           formControlName="grenier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.createdAt" for="field_createdAt">Created At</label>
                    <div class="input-group">
                        <input id="field_createdAt" type="text" class="form-control" name="createdAt" ngbDatepicker #createdAtDp="ngbDatepicker" formControlName="createdAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="loyerApp.logement.adresse" for="field_adresse">Adresse</label>
                    <select class="form-control" id="field_adresse" name="adresse" formControlName="adresseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adresses; trackBy: trackById">{{ adresseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
